/*  Copyright 2010,2011  Simon Goodchild  (info@wpsymposium.com)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 2, as 
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/





/* +++++++++++++++++++++++++++++++++++++++++++++++ MAIL +++++++++++++++++++++++++++++++++++++++++++++++ */

#symposium-wrapper #mail_tabs {
	width: 100%;
	border-radius:0px;
	-moz-border-radius:0px;
	margin-left: 10px;
	overflow: auto;
	position: relative;
	top: 1px;
}

#symposium-wrapper .mail_tab {
	border: 1px solid #000;
	padding: 8px;
	border-radius:0px;
	-moz-border-radius:0px;
 	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
 	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	width: 20%;
	text-align: center;
	float: left;
	margin-right: 10px;
}

#symposium-wrapper #mail_tabs .nav-tab-active {
	z-index: 3;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

#symposium-wrapper #mail_tabs .nav-tab-inactive {
	z-index: 1;
	border-bottom: 1px solid #000;
	background-color: #efefef;
}

#symposium-wrapper #mail_tabs .nav-tab-active-link {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

#symposium-wrapper #mail_tabs .nav-tab-inactive-link {
	text-decoration: none;
	color: #999;
	font-size: 18px;
}

#symposium-wrapper #mail-main {
	z-index: 2;
	overflow: auto;
	width: 98%;
	border: 1px solid #000;
	background-color: #fff;
	padding: 10px;
}

#symposium-wrapper .mail_item {
	padding: 4px;
}

#symposium-wrapper #mail-main #inbox *, #symposium-wrapper #mail-main #sentbox * {
	border-radius:0px;
	-moz-border-radius:0px;
}
	
.symposium_notice, .symposium_pleasewait {
	position: absolute;
	padding: 10px 20px 10px 20px;
	border: 2px solid #000;	
	background-color: #fff;
	display: none;
	font-size: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-box-shadow: 3px 3px 4px #999;
	-webkit-box-shadow: 3px 3px 4px #999;
	box-shadow: 3px 3px 4px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}




.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 150px;
}

/* ----------------------------------------------------------------------------------- */

/* CORE CSS =============================================================== */

#symposium-wrapper
{
	overflow: auto;
	width:95%;
	margin: 0 auto;
	padding: 6px;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	font-family: arial;
	font-size: 14px;
	line-height: 22px;
	color: #000;
}
#symposium-wrapper * {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#symposium-wrapper img 
{
	border: 0;
	margin: 0;
	padding: 0;
}

#symposium-wrapper .hidden {
	display:none
}

/* Shadow */
#symposium-wrapper .shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* Warning */
#symposium-wrapper .warning {
	margin-left: 0px;
	margin-top: -8px;
	width: 95%;
	border: 1px solid #f00;
	background-color: #f99;
	padding: 6px;
	margin-bottom: 10px;
}

#symposium-wrapper .corners {
	border-radius: 0px;
	-moz-border-radius: 0px;
}

#symposium-wrapper .label
{
}

/* text input field */
#symposium-wrapper .new-topic-subject-input
{
	width: 95%;
	height:40px;
	font-family: arial; 
	font-size: 24px;
	padding: 2px;
	border: 1px solid black;
	margin-left: 2px;
}

/* Powered by */
#powered_by_wps {
	width:100%;
	font-style:italic; 
	font-size: 10px;
	text-align:center;
}

/* Buttons */

#symposium-wrapper .button
{
	background-color: #aaa;
	border: 0;
	text-align: center; 
	margin-right: 10px; 
	margin-bottom: 20px; 
	width: 125px; 
	height: 28px;
	font-family: arial; 
	cursor: pointer;
}
#symposium-wrapper .button:hover
{
	background-color: #000;
	color: #fff;
}

#symposium-wrapper .delete, #symposium-wrapper .delete_post, #symposium-wrapper .delete_fav, #symposium-wrapper .edit {
	float: right;
	display:none;
	color: red;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
}

/* Note: if you are using the free version of WP Symposium, you cannot alter this style. Thank you. */
#symposium-wrapper #powered_by {
	clear:both;
	width: 95%;
	font-style:italic; 
	font-size: 10px;
	text-align:center;
}

/* LOGIN =============================================================== */

#symposium-wrapper #login_form {
	margin:0px; 
	width:400px;
}

#symposium-wrapper #symposium_forgotten {
}

/* REGISTER =============================================================== */

#symposium-wrapper #hdn {
	display:none
}

/* Registration form */
#symposium-wrapper #symposium_registration {
}

#symposium-wrapper #symposium_registration_inner {
	margin-left:0px;
}

/* WIDGETS - VOTE YES/NO =============================================================== */

#symposium_chartcontainer {
}

#symposium_vote_forum {
}

#symposium_vote_thankyou {
	display:none;
}

#symposium_vote_thankyou p {
	padding:6px; 
	text-align:center;
}

/* WIDGETS - NEW MEMBERS  ===============================================================*/

#symposium_new_members {
	overflow: auto; 
	margin-bottom: 15px
}

.symposium_new_members_row {
	clear:both; 
	margin-top:8px;
}

.symposium_new_members_row_avatar {
	float: left; 
	width:32px; 
	margin-right: 5px;
}

.symposium_new_members_row_member {
}

/* WIDGETS - LATEST FORUM POSTS =============================================================== */

#symposium_latest_forum {
	overflow: auto; 
	margin-bottom: 15px;
}

.symposium_latest_forum_row {
	clear:both; 
	margin-top:8px;
}

.symposium_latest_forum_row_avatar {
	float: left; 
	width:32px; 
	margin-right: 5px;
}

.symposium_latest_forum_row_post {
}

/* NOTIFICATION BAR =============================================================== */

#symposium-notification-bar {
	position:fixed;
	left:0px;
	bottom:0px;
	padding: 4px;
	width: 100%;
	height: 20px;
	font-size: 14px;
	font-family: arial,helvetica;
	background-color: #333;
	color: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
 	opacity: 0.75;
}

#symposium-notification-bar #icons img {
	margin-right: 8px;		
	float: left;		
}

#symposium-notification-bar #alerts, #symposium-notification-bar #info {
	float: right;
	margin-right: 8px;
}
#symposium-notification-bar #alerts {
	display: none;
}

#symposium-notification-bar #alerts a, #symposium-notification-bar #info a {
	color: #fff;
	text-decoration:none;
}
#symposium-notification-bar #alerts a:hover, #symposium-notification-bar #info a:hover {
	color: #f00;
}

#symposium-chatboxes {
	position:fixed;
	right:0px;
}

#symposium-chatboxes .chat_window {
	float: right;
	margin-left: 2px;
	border-radius: 0px;
	moz-border-radius: 0px;
	ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	width:180px;
	height:240px;
	padding:0px;
	border:1px solid #000;
	background-color: #fff;
}

#symposium-chatboxes #symposium-who-online {
	float: right;
	margin-left: 2px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
 	opacity: 0.90;
	width:180px;
	height:240px;
	padding:0px;
	border:1px solid #000;
	background-color: #fff;
}
#symposium-chatboxes *, #symposium-chatboxes * {
	font-family: tahoma,arial,helvetica;
	font-size: 12px;				
}
#symposium-chatboxes .display_name_link {
	text-decoration: none;
	color: #fff;
}

#symposium-who-online {
	display: none;
	padding: 2px;
}
#symposium-friends-online-list {
	height: 218px;
	max-height: 218px;
	overflow: auto;
}

#symposium-chatboxes #symposium-chatroom {
	float: right;
	margin-left: 2px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
 	opacity: 0.90;
	width:360px;
	height:240px;
	padding:0px;
	border:1px solid #000;
	background-color: #fff;
	display: none;
}
#symposium-chatboxes #symposium-chatroom_header {
	width:356px;
	height:18px;
	padding:2px;
	background-color:#000;
	color:#fff;'
}

#symposium-chatboxes #chatroom_messages {
	width:356px; 
	height:170px;
	overflow:auto;
	padding:2px;
	padding-bottom:7px;'
}

#symposium-chatboxes #chatroom_typing_area {
	width:360px; 
	height:40px;
}
#symposium-chatboxes #chatroom_textarea {
	background-color:#efefef;
	border:0px;
	width:356px;
	height:34px;
}
 
.symposium_online_name {
	cursor:pointer;
}
.symposium_online_name:hover {
	text-decoration:underline;
}
.symposium_offline_name {
	text-decoration: none;
}
.symposium_offline_name:hover {
	text-decoration: underline;
}
					
#symposium-chatroom-box {
	border-radius: 0px;
	-moz-border-radius: 0px;
	float:right;
	color: #000;
	text-align:center;
	padding:0px;
	cursor: pointer;
	font-family: tahoma,arial,helvetica;
	font-size: 10px;
	font-weight: bold;
	margin-right:10px;
	width: 18px;
	height: 18px;
}
							
.symposium-online-box {
	border-radius: 0px;
	-moz-border-radius: 0px;
	width: 18px;
	height:18px;
	background-color: #0f0;
	color: #000;
	text-align:center;
	float: right;
	margin-right:10px;
	cursor: pointer;
	font-family: tahoma,arial,helvetica;
	font-size: 10px;				
	font-weight: bold;
}
.symposium-online-box-none {
	border-radius: 0px;
	-moz-border-radius: 0px;
	text-align:center;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	float: right;
	margin-right:10px;
	width: 17px;
	height: 17px;
	padding:0px;
	cursor: pointer;
	font-family: tahoma,arial,helvetica;
	font-size: 10px;
	font-weight: normal;
}

.symposium-email-box {
	border-radius: 0px;
	-moz-border-radius: 0px;
	float:right;
	color: #000;
	text-align:center;
	padding:0px;
	cursor: pointer;
	font-family: tahoma,arial,helvetica;
	font-size: 10px;
	font-weight: bold;
	margin-right:10px;
	width: 18px;
	height: 18px;
}
.symposium-email-box-read {
}
.symposium-email-box-unread {
}

.symposium-friends-box {
	border-radius: 0px;
	-moz-border-radius: 0px;
	float:right;
	color: #000;
	text-align:center;
	padding:0px;
	cursor: pointer;
	font-family: tahoma,arial,helvetica;
	font-size: 10px;
	font-weight: bold;
	margin-right:10px;
	width: 18px;
	height: 18px;
}
.symposium-friends-box-none {
}
.symposium-friends-box-new {
}

/* PROFILE =============================================================== */

#symposium-wrapper #profile_left_column {
	overflow:auto;
	border-left: 1px solid #aaa;
	border-radius:0px;
	-moz-border-radius:0px;
	padding-left: 10px;
}

#symposium-wrapper #profile_right_column {
	overflow:auto;
	float:right;
	padding: 10px;
	width: 260px;
	margin: 0 0 15px 15px;
	background-color: #fff;
	border: #999;	
}

#symposium-wrapper .input-field {
	height:22px;
	font-family: arial; 
	font-size: 16px;
	padding: 2px;
	border: 1px solid #aaa;
	margin-left: 2px;
}


#symposium-wrapper .symposium_profile_menu {
	cursor:pointer;
	margin-bottom: 10px;
}

/* FORUM =============================================================== */

#symposium-wrapper #share_link {
	clear:both;
	height: 22px;
	margin-bottom:6px;
}

#symposium-wrapper #share_link div {
	margin-left: 5px;
}
#symposium-wrapper #fav_link {
	margin-left: 5px;
	margin-right: 3px;
}

#symposium-wrapper #share_label {
	display:none; 
	margin-left: 5px;
}

#symposium-wrapper #new_topic_category {
	width: 200px;
}

#symposium-wrapper .table_header
{
	clear: both;
	width: 100%;
	overflow: auto;
}
#symposium-wrapper .table_topic, #symposium-wrapper .table_startedby, #symposium-wrapper .table_replies, #symposium-wrapper .table_views 
{
	font-weight: bold;
	padding: 8px;
	color: #fff;
	width: 80%;
}
#symposium-wrapper .row
{
	clear: both;
	overflow: auto;
	border-radius: 0px;
	background-color: #ffc;
}
#symposium-wrapper .row_odd
{
	clear: both;
	overflow: auto;
	border-radius: 0px;
	background-color: #ffd;
}
#symposium-wrapper .row:hover, #symposium-wrapper .row_odd:hover
{
	background-color: #fff;
}

#symposium-wrapper .row_topic, #symposium-wrapper .row_startedby, #symposium-wrapper .row_replies, #symposium-wrapper .row_views
{
	border-top: 0px;
	font-weight: normal;
	padding: 6px;
}
#symposium-wrapper .row_link_div
{
	margin-bottom: 5px;
}
#symposium-wrapper .row_link
{
	font-weight: bold;
	font-size: 20px;
}
#symposium-wrapper .row_link_topic
{
	font-weight: bold;
}
#symposium-wrapper .row_link:hover, #symposium-wrapper .row_link_topic:hover
{
	text-decoration: underline;
}
#symposium-wrapper .row_topic_text
{
	font-style: italic;
}

#symposium-wrapper .categories_color {
	color: #fff;
}
#symposium-wrapper .categories_background {
	background-color: #fff;
	padding: 6px;
	border-radius: 0;
}

#symposium-wrapper .symposium_subscribe_option
{
	clear: both;
	float: right;
	margin-top: -10px;
}

#symposium-wrapper #symposium_table
{
	border: 1px solid #990;
	width: 100%;
	margin-top: 10px;
	overflow: auto;
}
#symposium-wrapper .table_topic, #symposium-wrapper .row_topic
{
	border-radius: 0px;
}

#symposium-wrapper .table_topic
{
 	text-decoration:none;
 	float: left;
	font-weight: bold;
	font-size: 20px;
}

#symposium-wrapper .table_startedby, #symposium-wrapper .row_startedby
{
	float: right;
	margin-left: 15px;
	width: 40%;
	border-radius: 0px;
}

#symposium-wrapper .table_replies, #symposium-wrapper .row_replies
{
	float: right;
	width: 60px;
	border-radius: 0px;
	text-align: center;
}

#symposium-wrapper .table_views, #symposium-wrapper .row_views
{
	border-radius: 0px;
	float: right;
	width: 60px;
	text-align: center;
}

#symposium-wrapper .avatar_last_topic {
	margin-right:5px;
	margin-bottom:0px; 
	padding-bottom: 0px;
}

#symposium-wrapper .post_count {
	margin-top:4px;
	font-weight: bold;
}

#symposium-wrapper .post_count_label {
	margin-top:-4px;
	font-size:8px;
}

#symposium-wrapper .category_title {
	padding-left:8px;
	padding-top:13px;
}

#symposium-wrapper #topic-links
{
	list-style-type:none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	color: #000;
}

#symposium-wrapper #new-topic-link, #reply-topic-link
{
	padding: 6px;
	width: 220px;
	text-align: center;
	background-color: #990;
	cursor: pointer;
	margin-left: 0;
}

#symposium-wrapper #new-topic-link:hover, #reply-topic-link:hover
{
	background-color: #aa3;
	color: white;
}

#symposium-wrapper #new-topic, #symposium-wrapper #edit-topic-div, #symposium-wrapper #fav-list
{
	width: 80%;
	overflow:auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 10px;
	border: 1px solid #000;
}
#symposium-wrapper #edit-topic-div, #symposium-wrapper #fav-list
{
	display: none;
	width: 700px;
	height: 325px;
}
#symposium-wrapper .new-topic-subject-text, #symposium-wrapper .reply-topic-subject-text, #symposium-wrapper .reply-topic-text
{
	width: 95%;
	height: 120px;
	border: 1px solid black;
	padding: 4px;
	margin-bottom: 15px;
	font-family: arial; 
	z-index: 99999999;
}
#symposium-wrapper #reply-topic, #symposium-wrapper #reply-topic-bottom
{
	width: 80%;
	clear: both;
	overflow: auto;
	padding-top: 10px;
	margin-top: 20px;
}
#symposium-wrapper #reply-topic {
	margin-bottom: 10px;
	padding-left: 15px;
	border: 1px solid #000;
}

#symposium-wrapper .emailreplies 
{
	margin-bottom: 15px;
}

#symposium-wrapper .new-topic-category
{
}

/* Post and Thread */

#symposium-wrapper #starting-post, #symposium-wrapper #child-posts
{
	border: 1px solid #aaa;
	padding-right: 5px;
	background-color: #ddd;
	padding: 10px;
	clear: both;
}
#symposium-wrapper .topic-post-post
{
}
#symposium-wrapper #child-posts
{
	background-color: #eee;
}
#symposium-wrapper .topic-post-header-with-fav
{
	overflow:auto;
	padding:0px;
}
#symposium-wrapper .topic-post-header
{
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 0px;
	padding-top: 0px;
	float: left;
}
#symposium-wrapper .started-by
{
	color: #aaa;
	font-style: italic;
	margin-bottom: 6px;
}
#symposium-wrapper .floatright
{
	float: right;
	margin-bottom: 10px;
}
#symposium-wrapper .floatleft
{
	float: left;
	margin-bottom: 10px;
}
#symposium-wrapper .child-reply 
{
	clear: both;
	padding-top: 6px;
	overflow:auto;
}
#symposium-wrapper .avatar 
{
	float: left;
	margin-right: 10px;
	margin-bottom: 3px;
}
#symposium-wrapper child-posts .child-reply .child-reply-post 
{
	margin-bottom: 115px;
}
#symposium-wrapper child-posts .child-reply .child-reply-post p
{
	border: 1px solid red;
}


