#symposium-wrapper
{
	overflow: auto;
	width:95%;
	margin: 0 auto;
	padding: 6px;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	font-family: arial;
	font-size: 14px;
	line-height: 22px;
	color: #000;
}
#symposium-wrapper * {
	border-radius: 5px;
}

#symposium-wrapper img 
{
	border: 0;
	margin: 0;
	padding: 0;
}

#symposium-wrapper .label
{
	height: 22px;
	margin-top: 6px;
}

#symposium-wrapper #topic-links
{
	list-style-type:none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	color: #000;
}

#symposium-wrapper #new-topic-link, #reply-topic-link
{
	padding: 6px;
	width: 220px;
	text-align: center;
	background-color: #990;
	cursor: pointer;
	margin-left: 0;
}

#symposium-wrapper #new-topic-link:hover, #reply-topic-link:hover
{
	background-color: #aa3;
	color: white;
}

#symposium-wrapper #new-topic, #symposium-wrapper #edit-topic-div
{
	width: 80%;
	overflow:auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 10px;
	border: 1px solid #000;
}
#symposium-wrapper #edit-topic-div
{
	display: none;
	width: 700px;
	height: 325px;
}
#symposium-wrapper .new-topic-subject-input
{
	width: 95%;
	height:40px;
	font-family: arial; 
	font-size: 24px;
	padding: 2px;
	border: 1px solid black;
	margin-left: 2px;
}
#symposium-wrapper .new-topic-subject-text, #symposium-wrapper .reply-topic-subject-text, #symposium-wrapper .reply-topic-text
{
	width: 95%;
	height: 120px;
	border: 1px solid black;
	padding: 4px;
	margin-bottom: 15px;
	font-family: arial; 
}
#symposium-wrapper #reply-topic, #symposium-wrapper #reply-topic-bottom
{
	width: 80%;
	clear: both;
	overflow: auto;
	padding-top: 10px;
	margin-top: 20px;
}
#symposium-wrapper #reply-topic {
	margin-bottom: 10px;
	padding-left: 15px;
	border: 1px solid #000;
}

#symposium-wrapper .emailreplies 
{
	margin-bottom: 15px;
}

#symposium-wrapper .new-topic-category
{
}

/* Post and Thread */

#symposium-wrapper #starting-post, #symposium-wrapper #child-posts
{
	border: 1px solid #aaa;
	padding-right: 5px;
	background-color: #ddd;
	padding: 10px;
	clear: both;
}
#symposium-wrapper .topic-post-post
{
}
#symposium-wrapper #child-posts
{
	background-color: #eee;
}
#symposium-wrapper .topic-post-header
{
	font-size: 28px;
	margin-bottom: 24px;
	padding-top: 6px;
}
#symposium-wrapper .started-by
{
	color: #aaa;
	font-style: italic;
	margin-bottom: 6px;
}
#symposium-wrapper .floatright
{
	float: right;
	margin-bottom: 10px;
}
#symposium-wrapper .child-reply 
{
	clear: both;
	padding-top: 6px;
	overflow:auto;
}
#symposium-wrapper .avatar 
{
	float: left;
	margin-right: 10px;
	margin-bottom: 3px;
}
#symposium-wrapper child-posts .child-reply .child-reply-post 
{
	margin-bottom: 115px;
}
#symposium-wrapper child-posts .child-reply .child-reply-post p
{
	border: 1px solid red;
}
/* Buttons */

#symposium-wrapper .button
{
	background-color: #990;
	border: 0;
	text-align: center; 
	margin-right: 10px; 
	margin-bottom: 20px; 
	width: 125px; 
	height: 28px;
	font-family: arial; 
	cursor: pointer;
}
#symposium-wrapper .button:hover
{
	background-color: #aa3;
}

/* Forum */

#symposium-wrapper .symposium_subscribe_option
{
	float: right;
	margin-top: -10px;
}

#symposium-wrapper #symposium_table
{
	border: 1px solid #990;
	width: 100%;
	margin-top: 10px;
	overflow: auto;
}
#symposium-wrapper .table_topic, #symposium-wrapper .row_topic
{
	border-radius: 0px;
}

#symposium-wrapper .table_topic
{
	float: left;
	font-weight: bold;
	font-size: 20px;
}

#symposium-wrapper .table_startedby, #symposium-wrapper .row_startedby
{
	float: right;
	margin-left: 15px;
	width: 350px;
	border-radius: 0px;
}

#symposium-wrapper .table_replies, #symposium-wrapper .row_replies
{
	float: right;
	width: 60px;
	border-radius: 0px;
	text-align: center;
}

#symposium-wrapper .table_views, #symposium-wrapper .row_views
{
	border-radius: 0px;
	float: right;
	width: 60px;
	text-align: center;
}

#symposium-wrapper .table_header
{
	clear: both;
	width: 100%;
	overflow: auto;
}
#symposium-wrapper .table_topic, #symposium-wrapper .table_startedby, #symposium-wrapper .table_replies, #symposium-wrapper .table_views 
{
	font-weight: bold;
	padding: 8px;
	color: #fff;
	width: 80%;
}
#symposium-wrapper .row
{
	clear: both;
	overflow: auto;
	border-radius: 0px;
	background-color: #ffc;
}
#symposium-wrapper .row_odd
{
	clear: both;
	overflow: auto;
	border-radius: 0px;
	background-color: #ffd;
}
#symposium-wrapper .row:hover, #symposium-wrapper .row_odd:hover
{
	background-color: #fff;
}

#symposium-wrapper .row_topic, #symposium-wrapper .row_startedby, #symposium-wrapper .row_replies, #symposium-wrapper .row_views
{
	border-top: 0px;
	font-weight: normal;
	padding: 6px;
}
#symposium-wrapper .row_link_div
{
	margin-bottom: 5px;
}
#symposium-wrapper .row_link
{
	font-weight: bold;
	font-size: 20px;
}
#symposium-wrapper .row_link_topic
{
	font-weight: bold;
}
#symposium-wrapper .row_link:hover, #symposium-wrapper .row_link_topic:hover
{
	text-decoration: underline;
}
#symposium-wrapper .row_topic_text
{
	font-style: italic;
}

#symposium-wrapper .categories_color {
	color: #fff;
}
#symposium-wrapper .categories_background {
	background-color: #fff;
	padding: 6px;
	border-radius: 0;
}

#symposium-wrapper .delete, #symposium-wrapper .edit {
	float: right;
	display:none;
	color: red;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
}

/* Shadow */
#symposium-wrapper .shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* Warning */
#symposium-wrapper .warning {
	margin-left: 0px;
	margin-top: -8px;
	width: 95%;
	border: 1px solid #f00;
	background-color: #f99;
	padding: 6px;
	margin-bottom: 10px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ MAIL +++++++++++++++++++++++++++++++++++++++++++++++ */

#symposium-wrapper #mail_tabs {
	width: 100%;
	border-radius:0px;
	-moz-border-radius:0px;
	margin-left: 10px;
	overflow: auto;
	position: relative;
	top: 1px;
}

#symposium-wrapper .mail_tab {
	border: 1px solid #000;
	padding: 8px;
	border-radius:0px;
	-moz-border-radius:0px;
 	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
 	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	width: 15%;
	text-align: center;
	float: left;
	margin-right: 10px;
}

#symposium-wrapper #mail_tabs .nav-tab-active {
	z-index: 3;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

#symposium-wrapper #mail_tabs .nav-tab-inactive {
	z-index: 1;
	border-bottom: 1px solid #000;
	background-color: #efefef;
}

#symposium-wrapper #mail_tabs .nav-tab-active-link {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

#symposium-wrapper #mail_tabs .nav-tab-inactive-link {
	text-decoration: none;
	color: #999;
	font-size: 18px;
}

#symposium-wrapper #mail-main {
	z-index: 2;
	overflow: auto;
	width: 98%;
	border: 1px solid #000;
	background-color: #fff;
	padding: 10px;
}

#symposium-wrapper .mail_item {
	padding: 4px;
}

#symposium-wrapper #mail-main #inbox *, #symposium-wrapper #mail-main #sentbox * {
	border-radius:0px;
	-moz-border-radius:0px;
}

/* Profile Page */
#symposium-wrapper #profile_left_column {
	overflow:auto;
}

#symposium-wrapper #profile_right_column {
	overflow:auto;
	float:right;
	padding: 10px;
	width: 260px;
	margin: 0 0 15px 15px;
}

#symposium-wrapper .input-field {
	height:22px;
	font-family: arial; 
	font-size: 16px;
	padding: 2px;
	border: 1px solid #aaa;
	margin-left: 2px;
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 150px;
}
	